* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 50px;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 40px;
  z-index: 10;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: 500;
}

.navbar .menu-button {
  display: none;
  cursor: pointer;
  font-size: 3.3rem;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navbar ul li a {
  cursor: pointer;
  color: #2d2e32;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.23s;
}
.navbar ul li a:hover {
  color: #000;
  text-decoration: underline;
}

.mobile-nav {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 2rem;
  list-style: none;
}

.mobile-nav ul a {
  color: #2d2e32;
  font-weight: 400;
  text-decoration: none;
}

.mobile-nav ul a:hover {
  color: #000;
  text-decoration: underline;
}

/* Media query for screens less than 900px */
@media screen and (max-width: 900px) {
  .navbar ul {
    display: none; /* Hide the desktop menu when the screen width is less than 900px */
  }
  .navbar .menu-button {
    display: block; /* Show the menu button when the screen width is less than 900px */
  }
}

.hero {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  width: 100%;
}
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 2rem;
  width: 100%;
}
.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 40rem;
  justify-content: center;
  position: relative;
}
.hero-main {
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}
.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  position: relative;
}
.hero-text h1 {
  color: #2d2e32;
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.hero-text img {
  height: 5rem;
  width: 5rem;
  position: absolute;
  right: 8rem;
  top: 5.8rem;
}
.hero-text p {
  color: #555;
  font-family: Mulish, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6;
}
.hero-text span {
  cursor: pointer;
  display: flex;
  gap: 1.6rem;
  margin: 2rem 0;
}
.hero-text span a {
  transition: all 0.2s;
  color: #2d2e32;
  font-size: 2rem;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
.hero-img {
  -webkit-animation: morph 6s ease-in-out infinite;
  animation: morph 6s ease-in-out infinite;
  background-image: url(./aftab2.png);
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 20rem;
  width: 20rem;
  position: relative;
  transition: all 2s ease-in-out;
}
.skills {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  top: 30rem;
  bottom: 0;
  color: #767676;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  left: 0;
  position: absolute;
}
.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  color: #2d2e32;
  font-family: poppins, sans-serif;
  font-weight: 600;
  margin-right: 4rem;
  padding-right: 2rem;
}
.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
}
.skills ul li {
  cursor: pointer;
}
.skills ul li img {
  height: 4rem;
  transition: all 0.3s ease-in-out;
  width: 8rem;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  max-width: 95% !important;
  height: auto;
  background-color: #fff;
  padding: 3rem 12.5rem;
}
.about .img_side {
  display: flex;
  border-radius: 1.7rem;
  height: auto;
  width: 30rem;
  position: relative;
}
.img_side .work_emoji {
  position: absolute;
  width: 5rem !important;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}
.img_side span {
  position: absolute;
  filter: drop-shadow(0 0.5mm 1mm rgb(124, 123, 124));
  background-color: #fff;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  bottom: -30px;
  right: -19px;
}
.img_side span img {
  -webkit-animation: rotate 9s linear infinite;
  animation: rotate 9s linear infinite;
  width: 12rem;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.img_side .img-side__main-img {
  border-radius: 1.7rem;
  height: auto;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.about .text_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width:100%;
  height: auto;
}
@media screen and (max-width: 500px) {
  .img_side .img-side__main-img {
    margin: 0px 50px;
    border-radius: 1.7rem;
    height: auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .img_side .work_emoji {
    position: absolute;
    width: 3rem !important;
    bottom: 30px;
    right: 85px;
    z-index: 10;
  }
  .img_side span {
    position: absolute;
    filter: drop-shadow(0 0.5mm 1mm rgb(124, 123, 124));
    background-color: #fff;
    border-radius: 50%;
    width: 9rem;
    height: 9rem;
    bottom: -25px;
    right: 39px;
  }
  .img_side span img {
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
    width: 9rem;
  }
  .text_side p{
    margin: 0px 50px;
    width: 80%;
  }
  
  
}
@media screen and (max-width: 1024px) {
  .about .text_side{
    padding-top: 40px;
  }
  .about .text_side h3 , h4,p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
  }
}
.about .text_side h3 {
  color: #147efb;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.about .text_side h4 {
  color: #2d2e32;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.about .text_side p {
  color: #555;
  font-family: poppins, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
}

.project {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
  padding: 2rem 0;
}
.project .project_container {
  margin: 1.25rem 12.5rem;
  height: auto;
}
.project .project_cards {
  display: grid;
  grid-gap: 5rem;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: auto;
  width: 100%;
  padding: 40px 0px;
}
.project1,
.project2,
.project3,
.project4 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
  height: 23rem;
  padding: 8px 10px;
  background-color: #fff;
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project p {
  color: #147efb;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.project h3 {
  color: #2d2e32;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.pro__img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
  width: 80%;
}

.pro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 40rem;
}
.pro__text h3 {
  justify-content: center;
  align-items: center;
  color: #2d2e32;
  display: flex;
  font-size: 1.3rem;
  gap: 0.2rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}
.pro__text p {
  color: #545252;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}
.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: Mulish, sans-serif !important;
  font-weight: 600 !important;
  padding: 1rem 1.1rem;
}
.links,
.links a {
  align-items: center;
  display: flex;
}

.links {
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.links a {
  color: #2d2e32;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
}
.reversed-proj {
  flex-direction: row-reverse !important;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 2rem 12.5rem;
}

.contact .title p {
  color: #147efb;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.contact .title h3 {
  color: #2d2e32;
  font-size: 1.3rem;
}
.contact .icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}
.icons .contact__icon-box span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #147efb;
  height: 3rem;
  width: 3rem;
}
.contact__icon-box {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}
.contact__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.contact__info h3 {
  color: #2d2e32;
  font-size: 1.5rem;
}
.contact__info p,
a {
  color: #767676;
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
}
@media screen and (max-width:1024px){
.contact{
  padding: 2rem 20rem;
}
  .contact .title p{
 align-items: flex-start;
}
}
@media screen and (max-width: 500px) {
  .contact {
    padding: 2rem 2rem;
  }
  .contact .title p {
    align-items: flex-start;
  }
  .contact .icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }
  .icons .contact__icon-box span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #147efb;
    height: 3rem;
    width: 3rem;
  }
  .contact__icon-box {
    align-items: center;
    display: flex;
    gap: 1.5rem;
  }
  .contact__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .contact__info h3 {
    color: #2d2e32;
    font-size: 1.5rem;
  }
  .contact__info p,
  a {
    color: #767676;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
}


footer {
  background-color: #2d2e32;
  padding: 4.5rem 0;
  width: 100%;
}
.footer .container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}
.footerc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
}
footer h3 {
  color: #fff;
  font-size: 1.3rem;
}
.footerc__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 0.5rem;
}
.footerc__socials a {
  color: #fff;
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .footerc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 4rem;
  }
  footer h3 {
    color: #fff;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .footerc__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 0.5rem;
  }
  .footerc__socials a {
    color: #fff;
    font-size: 0.8rem;
  }
  
}
